# keys_user.config

move_left l
move_down j
move_up k
move_right h

goto_begining gg
goto_end G

screen_up <C-u>
screen_down <C-d>

next_page space
previous_page <S-space>

search /
next_item n
previous_item N

zoom_in K
zoom_out J

rotate_clockwise r
rotate_counterclockwise R

toggle_fullscreen f

quit q

goto_top_of_page 0
goto_bottom_of_page $
next_page <C-f>
previous_page <C-b>

enter_visual_mark_mode m   # m for mark, but default is for set_mark; chain if needed
goto_bookmark b

toggle_titlebar T

add_bookmark B
add_highlight H

toggle_dark_mode i
toggle_custom_color c
